<div class="main">
  <div class="container">
    <h1>About Me</h1>
    <p>Add a picture of yourself.
    Write a description of yourself. Describe your background, your goals, and your technical skills.</p>
  </div>
</div>