<div class="main">
    <div class="container">
        This is the portfolio.  Best work here.
        Add a main section at the top of the page with an image of your best work.
    </div>
</div>
<div class="support">
    <div class="container">
        Grid of other stuff here.
        Below the main section, add a supporting section that contains a grid of items for the apps you’ve built.
        For each item, include the screenshot of the app, a title and description, and a link to the live app on Heroku.
    </div class="container">
</div>